output {
  elasticsearch {
       # http protocol
       # hosts => ["localhost:9200"]

       # https protocol (use with search-guard)
        hosts => ["https://127.0.0.1:9200"]
        ssl => true
        truststore => '/etc/logstash/ssl/truststore.jks'
        truststore_password => "capass"
        ssl_certificate_verification => true
        keystore => "/etc/logstash/ssl/node-{{ansible_nodename}}-keystore.jks"
        keystore_password => "changeit"
        user => "usr_logstash"
        password => "23shjY67"

       # template
       template => "/etc/logstash/template.json"
       index => "lightsiem-%{+YYYY.MM.dd}"
       template_name => "lightsiem"
       template_overwrite => true
 }

#   stdout { codec => rubydebug }

}
