[Unit]
Description=Kibana 4

[Service]
ExecStart=/opt/lightsiem/kibana4/bin/kibana
StandartOutput=syslog
SyslogIdentifier=Kibana

[Install]
WantedBy=multi-user.target
